.text-field {
    position: relative;
}

.text-field__label {
    display: block;
    margin-bottom: 0.25rem;
    position: absolute;
    top: 50%;
    left: 0.3125rem;
    display: flex;
    transform: translateY(-50%);
    pointer-events: none;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: top 0.1s ease-in-out, scale 0.1s ease-in-out;

}

.text-field__input {
    display: block;
    height: auto;
    padding: 24px;
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &::placeholder {
        color: #212529;
        opacity: 0.4;
        color: transparent;
    }

    &:focus {
        color: #212529;
        background-color: transparent;
        border-color: #bdbdbd;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }

    &:disabled {
        background-color: #000;
        opacity: 1;
    }

    &::-moz-placeholder {
        color: transparent;
    }

    &:focus~.text-field__label {
        top: 0;
        transform: translateY(-50%) scale(0.75);
    }

    &:not(:placeholder-shown)~.text-field__label {
        top: 0;
        transform: translateY(-50%) scale(0.75);
        background: #000;
    }

    &:not(:placeholder-shown) {
        color: #BB6BD9;
        border-color: #BB6BD9;
    }
}

.text-field__input[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
}